
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
 <description>Manages advertising content for advertising partners. Partners are identified by an integer. Data are stored for the partner includes date of start of ad campaign, duration in days of campaign and the content for the ad campaign.</description>
   <display-name>Ad servlet example</display-name>
  <servlet>
	<servlet-name>AdServlet</servlet-name>
	<servlet-class>com.wpmassociates.comcast.servlets.AdServlet</servlet-class>
	 <load-on-startup>1</load-on-startup>
 </servlet>

	<servlet-mapping>
		<servlet-name>AdServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>   
 </web-app>